.search-input{
  margin: 0 10px;
}

.search-input__form{
  max-width: 700px;
  width: 100%;
  margin: 15px auto;
  border-radius: 10px;
  display: flex;
  align-items: center;
  border: 1px solid darkslategray;
  padding: 0 15px;
}

.search-input__input {
  width: 100%;
  height: 45px;
  font-size: 1em;
  border: none;
  outline: none;
  background-color: transparent;
}

.search-input__button {
  position: relative;
  width: 45px;
  height: 45px;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

.search-input__button::after,
.search-input__button::before {
  position: absolute;
  content: "";
}

.search-input__button::after {
  width: 13px;
  height: 13px;
  border: 3px solid black;
  border-radius: 50%;
  top: 10px;
  left: 12px;
}

.search-input__button::before {
  width: 13px;
  height: 3px;
  top: 28px;
  background-color: black;
  transform: rotate(45deg);
  left: 25px;
}